body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
#container {    
    position: relative;
    height: 90%;
}
#imageid { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#saveButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}
#loggingButton:hover {
    background-color: #0b5ed7;
}
#loggingButton {
    background-color: #0d6efd;
    outline-offset: 4px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 6px;
    border: 1px solid rgba(59, 59, 59, 0.3);
    border-radius: 2px;
    cursor: pointer;
}
#topbar {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%,
        rgba(255,255,255,1) 2%,
        rgba(13, 110, 253,1) 72%);
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: end;
    z-index: 1000;
}

#inputEmail {
    width: 150px;
    height: 25px;
    margin-top: 2px;
    margin-right: 10px;
}
#inputPassword {
    width: 100px;
    height: 25px;
    margin-top: 2px;
    margin-right: 10px;
}
#topdot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: rgb(209, 19, 57);
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1000;
}
#signupdiv {
    display: flex;
    width: 100%;
    justify-content: end;
}
#signup {
    color: #0d6efd;
    margin-right: 20px;
    font-size: 14px;
}